@use '../../variables' as *; 

.productDescription{
    margin: 0 16px;
    width: 90%;
    @media(max-width:900px){
        width: 90%;
    }
    .productText{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .productDuration{
        display: flex;
        flex-direction: column;
        gap: 5px;
        div{
            display: flex;
            gap: 5px;
        }
        svg{
            color: $brown;
            width: 20px;
        }
    }
}

.productProperties{
    margin-top: 30px;
    margin-bottom: 30px;
    .propertyContainer{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        @media(max-width:800px){
            grid-template-columns: 1fr 1fr;
        }
    }
    .property{
        overflow-wrap: break-word;
        img{
            width: 20px;
        }
        h5{
            color: $brown;
            font-size: 16px;
        }
        p{
            color: #562110c5;
        }
    }
}