@use '../../variables' as *; 

.productDescription{
    margin: 0 20px;
    .productText{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .productDuration{
        display: flex;
        flex-direction: column;
        gap: 5px;
        div{
            display: flex;
            gap: 5px;
        }
        svg{
            color: $brown;
            width: 20px;
        }
    }
    
}