@use "../../variables" as *;


.reservationContainer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reservationDates {
  margin-top: 5px;
  margin-bottom: 5px;
}

.subtitle{
  color: $primary-orange;
}

.icon {
  color: $primary-orange;
  font-size: 15px;
}

.days{
  display: flex;
  gap: 4px;
}
