@use '../../variables' as *; 

.primaryButton{
    width: 100%;
    height: 35px;
    border: none;
    background-color: $primary-orange;
    color: white;
    border-radius: 50px;
    cursor: pointer;

}