@use '../../variables' as *; 

p{
    color: $brown;
    font-size: 16px;
}

.productHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;

    @media(max-width: 700px){
        flex-direction: column;
        align-items: flex-start;
    }

    .productTitle{
        display: flex;
        flex-direction: column;

        .title{
            display: flex;
            align-items: center;
            margin-bottom:20px;
        }
        svg{
            color: $brown;
            width: 40px;
        }
    }
    .productLocation{
        padding: 0 10px;
        display: flex;
        gap: 10px;
        svg{
            color: $brown;
            width: 20px;
        }
    }
}

.productcategories{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 6px;
    max-width: 600px;
    @media(max-width: 700px){
        justify-content: flex-start;
    }
    p{
        padding: 2px 10px;
        border-radius: 50px;

    }
    .mainCategory{
        background-color: $blue;
    }
}