.contactButton {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #25d366; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1000;
  
    &:hover {
      background-color: #128c7e; 
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }
  
    .icon {
      margin-right: 8px;
      font-size: 20px;
    }
  }
  