@use '../../variables' as *; 

.productCard{
    background-color: white;
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 188px;
    position: relative;
    container-type: inline-size; 
    @media(min-width: $mobile){
        flex-direction: row;
        flex-wrap: wrap;
        height: 300px;
        object-fit:cover;
    }
    .productImg{
        width: 200px;
        height: 100%;
        border-radius: 10px;
        @media(min-width: $mobile){
           width: 100%;
           max-width: 600px;
           height: 60%;

        }
        @container (min-width: 456px) {
            width: 70%;
            height: 100%;
        }
        
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
            border-radius: 10px;
        }

    }
    
    .cardTitles{
        padding: 20px 15px 60px 15px;
        width: 100%;
        min-width: 100px;
        max-width: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        
        @media(min-width: $mobile){
            padding: 10px 10px 10px 10px;
            height: 120px;
        }
     
        }
        

        .cardProperties{
            div{
                display: flex;
                margin-top: 10px;
                svg{
                    width: 20px;
                    color: $primary-orange;
                }
                p{
                    color: $primary-orange;
                }
            }
            @media(min-width: $mobile){
                width: 100vw;
                display: flex;
                gap: 20px;
 
            }
            
        }
        
        .cardArrow{
            background-color: $beige;
            width: 90px;
            height: 60px;
            border-radius: 60px 0 10px 0;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;
            right: 0;
            svg{
                width: 40px;
                color: $primary-orange;
                margin-left: 10px;
            }
        }
}
