@use '../../variables' as *; 
// Carousel mod

.swiper {
     margin: 16px;
  }

  .mySwiper{ 
    height: 250px;
    @media(min-width:700px){
      height: 350px;
    }
}
  .swiper-slide .cardTitles{
    max-width: 300px;
   
  }

  ._mySwiper2_nkkxa_65 {
    margin: 10px 0;
    width: auto !important;
}