@use '../../variables' as *;


.productFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $beige;

    .footerTop {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .logoLem {
            display: flex;
            flex-direction: column;
            align-items: center;


            p {
                margin-top: -5px;
                font-size: 12px;
                margin-left: 20px;

            }
        }

        .textCopy {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            height: 42px;
            width: 133px;
            margin: 10px 0 10px 0;
            background-color: $beige;
        }

        p {
            margin-bottom: 20px;
        }

        @media (min-width: $mobile) {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;

            img {
                margin-bottom: 10px;
                margin-left: 0;
            }

            p {
                margin-bottom: 10px;
                margin-right: 50px;
            }

            .textCopy {
                align-items: normal;
            }

        }
    }
}


.footerBar {
    display: flex;
    flex-direction: row;
    height: 62px;
    width: 100%;
    background-color: $brown;
    justify-content: center;
    align-items: center;
    gap: 20px;
    justify-content: space-between;


    p {
        color: $beige;
        padding-left: 40px;
        padding-right: 30px;
    }

}