$primary-orange: #EB5436;
$secundary-orange: #BD3013;
$lightBeige: #FDE0BC;
$beige: #FFF0CB;
$lightGreen: hsl(54, 41%, 77%);
$green: #4C7031;
$blue: #A5DBD3;
$lightBlue:#E4F5F2;
$brown: #562210;
$lightBrown: #BBA79F;
$white: #ffffff;

$mobile: 768px;
$min-mobile: 300px;