$primary-orange: #EB5436;
$secundary-orange: #BD3013;
$lightBeige: #FDE0BC;
$beige: #FFF0CB;
$lightGreen: #DDD8AE;
$green: #4C7031;
$blue: #A5DBD3;
$brown: #562210;
$lightBrown: #BBA79F;
$white: #ffffff;

$mobile: 768px;