// $primary-orange: #EB5436;
// $secundary-orange: #BD3013;

// $beige: #FFF0CB;
// $green: #4C7031;
// $blue: #A5DBD3;
// $brown: #562210;

// $mobile: 768px;

@use 'variables' as *; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
:root{
    font-family: "Inter", sans-serif;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

main {
    flex: 1; 
}

footer {
    margin-top: auto; 
}
body{

    h2{
        font-family: "Unbounded", sans-serif;
        color: $brown;
    }

    h3{
        color: $brown;
        font-size: 22px;
        font-weight: 800;
    }
    h4{
        color: $brown;
        font-size: 18px
    }
    a{
        text-decoration: none;
    }
   
    background-color: $beige;
    padding: 70px 0 0 0;
    position: relative;

    header{
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 20px;
        background-color: $beige;
       
        .header-container{
            display: flex;
            height: 70px;
            align-items: center;
            justify-content: space-between;

            .mobileControl{
                background-color: $primary-orange;
                display: none;
                justify-content: center;
                gap: 10px;
                width: 95px;
                height: 46px;
                border-radius: 50px;
                padding-right: 10px;
                svg{
                    width: 34px;
                    color: white;
                }
                @media(max-width: $mobile){
                    display: flex;
                }
            }
            .mobileLogo{
                display: none;
                @media(max-width: $mobile){
                    display: inline;
                }
            }
            .desktopLogo{
                display: inline;
                @media(max-width: $mobile){
                    display: none;
                }
            }
            .desktopControl{
                display: flex;
                gap: 10px;
                @media(max-width: $mobile){
                    display: none;
                }
            }
        }
    }

    button{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 22px;
    }

    .primary-button{
        border: none;
        border-radius: 50px;
        width: 152px;
        height: 38px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.2px;
        background-color: $primary-orange
    }
    .secundary-button{
        border: 1px solid $brown;
        color: $brown;
        border-radius: 50px;
        width: 152px;
        height: 38px;
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0);

    }

    .banner{
        height: 230px;
        position: relative;
        margin: 0 auto;
        width: 90%;
        max-width: 1250px;

        .banner-map-img{
            position: absolute;
            z-index: 100;
            right: 20px;
            display: none;
                @media(max-width: $mobile){
                    display: inline;
                }
        }
        .banner-grid{
            background-color: $primary-orange;
            width: 100%;
            height: 197px;
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Unbounded", sans-serif;
            padding: 0;
            @media(max-width: $mobile){
                padding: 20px 5px 0 5px;
            }
            .banner-text-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                .banner-text{
                    font-size: 18px;
                    font-weight: 800;
                    text-align: center;
                    color: $beige;
                }
                .banner-button{
                    font-size: 12px;
                    color: $brown;
                    background-color: $beige;
                    width: 200px;
                    height: 25px;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    
                    @media(max-width: $mobile){
                        margin-top: 15px;
                        display: flex;
                    }
                }
                .banner-subtitle-desktop{
                    font-size: 12px;
                    font-weight: 200;
                    color: $beige;
                    display: inline;
                    @media(max-width: $mobile){
                        display: none;
                    }
                }
            }

            .banner-capi-img{
                width: 120px;
                z-index: 200;
                display: inline;
                @media(max-width: $mobile){
                    display: none;
                }
            }
            
        }
        
    }

    .top10-header{
        text-align: center;
        padding: 0 45x;
        height: 80px;
        margin: 40px 0;
        position: relative;
        color: $brown;
        @media(min-width: $mobile){
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        .left-lines, .right-lines{
            width: 200px;
            position: absolute;
            top: -50px;
            z-index: -1;
        }
        .left-lines{
            left: -20px;
            transform: rotate(180deg);
        }
        .right-lines{
            right: -25px;
        }
        h2{
            margin-bottom: 15px;
        }
        img{
            display: none;
            @media(min-width: $mobile){
                display: inline;
            }
        }
    }

    .desktopCars{
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 4 columnas de igual tamaño */
            grid-template-rows: repeat(4, 1fr);  /* 4 filas automáticas */
            gap: 15px; /* Espacio entre los elementos */
          }
          
          /* Fila 1 - 3 elementos ocupan las primeras 3 columnas */
          .item-1, .item-2, .item-3 {
            grid-column: span 1;
          }
          
          /* Fila 2 - Un elemento más grande (que ocupa 3 columnas) y otro normal */
          .item-4 {
            grid-column: span 2;
          }
          .item-5 {
            grid-column: span 1;
          }
          
          /* Fila 3 - 4 elementos, cada uno en su propia columna */
          .item-6, .item-7, .item-8, .item-9 {
            grid-column: span 1;
          }
          
          /* Fila 4 - Un solo elemento que ocupa las 4 columnas */
          .item-10 {
            grid-column: span 2;
          }
          @media (max-width: 768px) {
            .grid-container {
              grid-template-columns: 1fr; /* Cambia a una columna */
            }
            
            /* Todos los elementos ocupan toda la fila (1 columna) */
            .item {
              grid-column: span 1;
            }
          }
          
    }

    .home-carousel{
        position: relative;
        width: 100%;
        min-height: 800px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .waveMobile,
        .waveDesktop {
            max-height: 300vh; // Ajusta según tu necesidad
    }

        .waveMobile{
            position: absolute;
            z-index: -1;
            top: 0;
            width: 100%;
            display: inline;
            @media (min-width: $mobile){
                display: none;
            }
        }
        .waveDesktop{
            position: absolute;
            z-index: -2;
            display: none;
            width: 100%;
            @media (min-width: $mobile){
                display: inline;
            }
        }

        .carouselHeader{
            color: $brown;
            text-align: center;
            width: 100%;
            margin-top: 100px;
            @media (min-width: $mobile){
                margin-top: 300px;
            }
          
            h2{
                padding: 10px;
            }
            p{
                font-size: 20px;
                font-weight: 200;
            }
        }
    }

    .product{
        .rateAndBookContainer{
            padding: 0 20px;
        }
    }
}

