@use 'variables' as *; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}
 

#root{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
 }
#root > div{
    
    flex-grow: 1;
}


body{

    h2{
        font-family: "Unbounded", sans-serif;
        color: $brown;
    }

    h3{
        color: $brown;
        font-size: 22px;
        font-weight: 800;
    }
    h4{
        color: $brown;
        font-size: 18px
    }
    a{
        text-decoration: none;
    }
   
    background-color: $beige;
    position: relative;
    overflow-x: hidden;

    header{
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
         width: 100%;
        padding: 0 20px;
        background-color: $beige;
       
        .header-container{
            display: flex;
            height: 70px;
            align-items: center;
            justify-content: space-between;

            .mobileControl{
                background-color: $primary-orange;
                display: none;
                justify-content: center;
                gap: 10px;
                width: 95px;
                height: 46px;
                border-radius: 50px;
                padding-right: 10px;
                svg{
                    width: 34px;
                    color: white;
                }
                @media(max-width: $mobile){
                    display: flex;
                }
            }
            .mobileLogo{
                display: none;
                flex-grow: 1;
                @media(max-width: $mobile){
                    display: inline;
                }
            }

            .desktopLogo-container{
                display: flex;
                align-items:center ;
                gap: 8px;
            }

            .desktopLogo{
                display: inline;
                @media(max-width: $mobile){
                    display: none;
                }
            }
            .desktopControl{
                display: flex;
                gap: 10px;
                width: 300px;
                @media(max-width: $mobile){
                    display: none;
                }
            }
        }
    }

    button{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        line-height: 22px;
    }

    .primary-button{
        cursor: pointer;
        border: none;
        border-radius: 50px;
        width: 152px;
        height: 38px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.2px;
        background-color: $primary-orange
    }
    .secundary-button{
        cursor: pointer;
        border: 1px solid $brown;
        color: $brown;
        border-radius: 50px;
        width: 152px;
        height: 38px;
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0);

    }

    .search{
        width: 60%;
        margin: 0 auto;
        form{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
            input{
                width: 100%;
            }
            button{
                width: 250px;
            }
            @media(min-width: $mobile){
                flex-direction: row;
            }
        }
    }

    // search bar
    .section_banner{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        }

    .banner{
        height: 230px;
        position: relative;
        margin: 0 auto;
        width: 90%;
        max-width: 1250px;
        @media(min-width: $mobile){
            height: 210px;
        }

        .banner-map-img{
            position: absolute;
            z-index: 100;
            right: 20px;
            display: none;
                @media(max-width: $mobile){
                    display: inline;
                }
        }
        .banner-grid{
            background-color: $primary-orange;
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Unbounded", sans-serif;
            padding: 0;
            @media(max-width: $mobile){
                padding: 20px 5px 0 5px;
            }
            .banner-text-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                .banner-text{
                    font-size: 18px;
                    font-weight: 800;
                    text-align: center;
                    color: $beige;
                }
                .banner-button{
                    font-size: 12px;
                    color: $brown;
                    background-color: $beige;
                    width: 200px;
                    height: 25px;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    
                    @media(max-width: $mobile){
                        margin-top: 15px;
                        display: flex;
                    }
                }
                .banner-subtitle-desktop{
                    font-size: 12px;
                    font-weight: 200;
                    color: $beige;
                    display: inline;
                    @media(max-width: $mobile){
                        display: none;
                    }
                }
            }

            .banner-capi-img{
                width: 120px;
                z-index: 200;
                display: inline;
                @media(max-width: $mobile){
                    display: none;
                }
            }
            
        }
        
    }
    .searchResult{
        text-align: center;
    }

    .top10-header{
        text-align: center;
        padding: 0 45px;
        height: 80px;
        margin: 40px 0;
        position: relative;
        color: $brown;
        @media(min-width: $mobile){
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        .left-lines, .right-lines{
            width: 200px;
            position: absolute;
            top: -50px;
            z-index: -1;
        }
        .left-lines{
            left: 3px;
            transform: rotate(180deg);
        }
        .right-lines{
            right: 2px;
        }
        h2{
            margin-bottom: 15px;
        }
        img{
            display: none;
            @media(min-width: $mobile){
                display: inline;
            }
        }
    }

    .desktopCars{
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 4 columnas de igual tamaño */
            grid-template-rows: repeat(4, 1fr);  /* 4 filas automáticas */
            gap: 15px; /* Espacio entre los elementos */
          }
          
          /* Fila 1 - 3 elementos ocupan las primeras 3 columnas */
          .item-1, .item-2, .item-3 {
            grid-column: span 1;
          }
          
          /* Fila 2 - Un elemento más grande (que ocupa 3 columnas) y otro normal */
          .item-4 {
            grid-column: span 2;
          }
          .item-5 {
            grid-column: span 1;
          }
          
          /* Fila 3 - 4 elementos, cada uno en su propia columna */
          .item-6, .item-7, .item-8, .item-9 {
            grid-column: span 1;
          }
          
          /* Fila 4 - Un solo elemento que ocupa las 4 columnas */
          .item-10 {
            grid-column: span 2;
          }
          @media (max-width: 768px) {
            .grid-container {
              grid-template-columns: 1fr; /* Cambia a una columna */
            }
            
            /* Todos los elementos ocupan toda la fila (1 columna) */
            .item {
                grid-column: span 1;
            }
        }
    }

    .home-carousel{
        position: relative;
        width: 100%;
        height: 800px;
        display: grid;
        
        grid-template-rows: 25% 74% 1%;
        margin-top: 20px;
        overflow-y: hidden;
        @media (min-width: $mobile){
            grid-template-rows: 35% 64% 1%;
            height: 1000px;
            width: 100%;
        }
        
        .waveMobile,
        .waveDesktop {
            max-height: 300vh;
    }

        .waveMobile{
            position: absolute;
            z-index: -1;
            top: 0;
            width: 100%;

            display: inline;
            object-fit: fill;
            @media (min-width: $mobile){
                display: none;
                
            }
        }
        .waveDesktop{
            position: absolute;
            z-index: -2;
            display: none;
            @media (min-width: $mobile){
                width: 100%;
                display: inline;
                height: 1000px;
                object-fit: fill;
            }
        }

        .carouselHeader{
            color: $brown;
            text-align: center;
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column-reverse;
            @media (min-width: $mobile){
                // margin-top: 20%;
            }

            h2{
                padding: 10px;
            }
            p{
                font-size: 20px;
                font-weight: 200;
            }
        }
    }

    .product{
        @media(min-width: $mobile){
           width: 90%;
           margin: 0 auto;
        }

        .rateAndBookContainer{
            padding: 0 20px;
             @media(min-width: 900px){
                width: 50%;
             }
        }
        .productDescRate{
            @media(min-width: 900px){
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
            }
        }
        .bookinContainer{
            background-color: $white;
            border-radius: 10px;
            padding: 16px;
        }

        .containerButtonsActions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:5px 16px;

            .containerFavorites{
                display: flex;
                align-items: center;
            }

        }
    }

    .confirmBooking{
        @media(min-width: $mobile){
           width: 90%;
           margin: 0 auto;
        }

        .confirmPanels{
            display: flex;
            flex-direction: column;
            gap: 40px;
            justify-content: center;
            @media(min-width:900px){
                flex-direction: row;
            }

            .bookingContainer{
                background-color: $white;
                border-radius: 10px;
                padding: 10px;
                margin: 16px;
                @media(min-width:900px){
                   width: 50%;
                }
            }
            
            .bookingProductInfo{
                display: flex;
                flex-direction: column;
                @media(max-width:762px){
                    margin: 16px;
                }

                .headerProductInfo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding-bottom: 25px;
                    border-bottom: 1px solid #BBA79F;
                    margin-bottom: 20px;

                    .containerImg{
                        width: 150px;
                        height: 180px;
                        overflow: hidden;
                        border-radius: 10px;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .ProductInfoTitle{
                        padding: 10px;
                        h3{
                            margin-bottom: 10px;
                        }
                    }

                    .productLocation{
                        display: flex;
                        gap: 10px;
                        margin-bottom: 30px;
                        svg{
                            color: $brown;
                            width: 20px;
                        }
                    }
                    .productDuration{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        .subtext{
                            font-weight: bolder;
                        }
                        div{
                            display: flex;
                            gap: 5px;
                        }
                        svg{
                            color: $brown;
                            width: 20px;
                        }
                    }
                }
                .productProperties{
                    border-bottom: 1px solid #BBA79F;
                    margin-bottom: 20px;       
                }
                .containerProperties{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 20px;
                    padding: 16px;
                    margin-bottom: 10px;       

                }
            }
        }

        
    }

    .largeGallery{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .galleryTitle{
            display: flex;
            width: 100%;
            margin-left: 5%;
            align-items: center;
            svg{
                color: $brown;
                width: 40px;
            }
        }

        img{
            width: 90%;
            
        }
        
    }

    .adminPanel {
        display: grid;
        grid-template-columns: 15% 85%;
        height: 100%;
    
        @media (max-width: 800px) {
            display: none;
        }
    
        .menuAdminPanel {
            background-color: $white;
            display: flex;
            flex-direction: column;
    
            .navlink-default {
                color: $brown;
                padding: 16px;
                margin-bottom: 5px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
            }
    
            .navlink-active, 
            .navlink-default:hover {
                background-color: $beige;
                color: $brown;
                padding: 16px;
                margin-bottom: 5px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
            }
        }
    }
    
    .bannerDashboard{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .messageAdminOnly{
        display: none;
        @media (min-width: $mobile){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 16px;
            gap: 16px;
        }
    }
    .mobileView{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 16px;
        gap: 16px;

        @media (min-width: 780px) {
            display: none;
        }
    }

    label{
        color: $brown;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    input{
        border: 1px $lightBrown solid;
        height: 44px;
        border-radius: 8px;
        padding: 0 10px;
        margin-bottom: 5px;
    }

    .margin-temporary{
        margin:  10px 30px;
    }

    .adminForm{
        background-color: $white;
        border-radius: 10px;
        width:500px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px;

        h4{
            margin-bottom: 10px;
        }

        div{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        p{  
            color: $brown;
            font-size: 14px;
        }

        .buttonsContainer{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
    .content-general-experience{
       label{
        font-size: 15px;
       }
       
       .hiddenForm{
        display: none;
       }

       .displayForm{
        display: flex;
       }

        .adminForm-experience{
            @extend .adminForm;
            width: 80%;
            height: auto;
            display: grid;
            grid-template-columns: 35% 35% 28%;
            grid-template-rows: auto auto;
            gap: 10px;
            
            .sectionTime{
                grid-column: 1 / -1; /* Esto hace que la nueva sección ocupe toda la fila */
                display: flex;
                gap: 10px;
            }

            .labelCharacter{
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: space-between;
            }
           
            textarea{
                font-family: "Inter", sans-serif;
                height: 100px;
                border-radius: 8px;
                padding: 10px;
            }
            
            .container-select{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            select{
                @extend input;
                width: 80%;
            }

            li{
                list-style: none;
            }

            .containerTag{
                display: flex;
                flex-flow: row wrap;
                gap: 5px;
                height: auto;
                .imgExperienceForm{
                    position: relative;
                    svg{
                        position: absolute;
                        left: 5px;
                        top: 5px;
                        width: 25px;
                        fill: $brown;
                    }
                }
            }

            

            .tag{
                color: $brown;
                list-style: none;
                font-size: 13px;
                font-weight: bold;
                background-color: $lightBlue;
                padding: 5px 8px;
                width: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
            }

            .button-detele-tag{
                margin-left: 3px;
                width: 25px;
                height:25px;
                background-color: transparent;
                border: none;
                color: $brown;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                    color: $white;
                    border-radius: 50px;
                    background-color: #6DB6AB;
                }
            }

            .buttonAdd{
                cursor: pointer;
                background-color: $blue;
                padding: 10px;
                color: $white;
                border: none;
                border-radius: 50px;

                &:hover{
                    background-color:#6DB6AB;
                }
            }
        }

    }
   

    
    .headerList{
        display: grid;
        grid-template-columns: 1fr 2fr 4fr 1fr ;
        margin: 40px;
        .mainImgHeader{
            margin: 0 auto;
        }
    }

    .experienceList{
        grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr 1fr 0.5fr; 
    }

    .usersList{
        grid-template-columns: 0.5fr 1fr 1fr 2fr 0.5fr 0.5fr; 
    }

    .bodyList{
        margin: 25px;
        display: flex;
        flex-direction: column;
        li{
            display: grid;
            grid-template-columns: 1fr 2fr 4fr 1fr ;
            border-bottom: 1px $lightBrown solid;
            padding: 15px;
            div{
                color: $brown;
                display: flex;
                gap: 10px;
                svg{
                    width: 25px;
                }
            }
            .imgExperience-table{
                width: 50px;
                margin: 0 auto;
            }
            
        }
    }

    .experienceBody{
        li{
            grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr 1fr 0.5fr;
            .miniList{
                display: flex !important;
                flex-direction: column !important;
            }
        }
        
    }

    .usersBody{
        li{
            grid-template-columns: 0.5fr 1fr 1fr 2fr 0.5fr 0.5fr; 
            .miniList{
                display: flex !important;
                flex-direction: column !important;
            }
        }
    }

    .content-general{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr  ;
    }
    .error {
      color: $secundary-orange !important;
      font-size: 0.7rem;
      margin-top: 4px;
    }

    .loadingSpinner{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        h3{
            color: $beige;
        }
    }

    .swalConfirmButton{
        background-color: $primary-orange;
        border-radius: 50px;
    }

    .swalCancelButton{
        background-color: white;
        border-radius: 50px;
        color: $secundary-orange;
        border: 2px solid $secundary-orange;
    }

    .swalTitle{
        font-family: "Inter", sans-serif;
        color: $brown;
    }

    .swalHtmlContainer{
        color: $brown;
        font-family: "Inter", sans-serif;
        display: flex;
        flex-direction: column;
        div{
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }
    }

    .topWave{
        display: none;
        position: absolute;
        z-index: -100;
        width: 100%;
        @media (min-width: $mobile){
          display: inline;
        }
    }

    .buttonImg{
        display: none;
        position: absolute;
        bottom: 0;
        right: 80px;
        @media (min-width: $mobile){
            display: inline;
          }
    }

    .topImg{
        display: none;
        position: absolute;
        top: 0;
        right: 80px;
        @media (min-width: $mobile){
            display: inline;
          }
    }

    .formNavigate{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 30px 10px;
        @media (min-width: $mobile){
            padding: 30px 50px;
        }
        
        h4{
           margin-bottom: 0;
           @media (min-width: $mobile){
            
        }
        }
        svg{
            color: $brown;
            width: 40px;
            @media (min-width: $mobile){
                
            }
        }

    }

    .orange{
        color: $primary-orange !important;
    }

    .beige{
        color: $beige !important;
    }

    .registerLoginForm{
        height: 100%;
        border-radius: 23px;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: $mobile){
            background: white;
            width: 500px;
            padding: 50px 70px;
        }
       
        .formHeader{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 20px;
            @media (min-width: $mobile){
                align-items: flex-start;
          
            }
            img{
                width: 120px;
                @media (min-width: $mobile){
                    display: none;
                }
            }
        }

        h4{
            margin-bottom: 10px;
        }

        div{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        p{  
            color: $brown;
            font-size: 14px;
        }
        a{
            margin: 0 auto;
            margin-top: 20px;
            color: $brown;
            text-decoration: underline;
            font-weight: 600;
        }
    }
}

  .buttonMoreAction{
        font-size: 1rem;
        cursor: pointer;
        background-color: #FDE0BC;
        color: #562210;
        padding: 5px 5px;
        width: 130px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        gap: 10px;
    
        &:hover{
          background-color: $primary-orange;
          color: $white;
        }
  }

  .space{
    margin: 20px 16px;
    @media(min-width: 700px){
        margin: 20px 0px;
    }
  }

  .iconInteractive{
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }}