@use '../../variables' as *; 

.userMenuContainer{
    background-color: $white;
    width:200px;
    border-radius: 50px;
    border: 1px solid $brown;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    .user{
    display: flex;
    align-items: center;
    gap: 10px;
    p{
        font-weight: bold;
    }
    }
    img{
        transform: rotate(90deg);
    }
}


.userAvatar{
    background-color: $blue;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $brown;
    p{
        font-weight: bold;
    }
}

.dropdownMenu{
    background-color: $white;
    position: absolute;
    top: 40px;
    width: 200px;
    padding: 20px;
    padding-top: 40px;
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    .menuItem{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;

        p:hover{
           font-weight: bolder;
           cursor: pointer;
        }
    }
}

.inactive{
    display: none;
}